form {
    margin-top: 48px;
}
input {
    font-family: $base-font;
    font-size: $normal;
    color: $dust;
    width: 100%;
    display: block;
    padding: 8px;
    margin: 8px 0px;
}

label {
   font-size: $small;
   color: $dust;
   text-transform: uppercase;
   font-family: $base-font;
   line-height: 1em;
}

button {
   border: none;
   color: $sea;
   margin-top: 16px;
   transition: .2s padding-left ease-in-out;
   transition: .2s padding-right ease-in-out;

   &:hover {
      cursor: pointer;
   }
}

.honeypot {
   display: none !important;
}

.alerts span {
   color: red !important;
   text-transform: uppercase;
   font-family: $base-font;
   font-size: $small;
}
