h1 {
  font-family: $headline;
  line-height: 1.125em;
}

h2 {
    font-family: $base-font;
}

h3 {
    font-family: $base-font;
}

p {
  font-family: $base-font;
  color: $dust;
  font-size: $normal;
}

a {
    text-decoration: none;
    color: $sea;
    font-family: $base-font;
}

em {
    font-style: italic;
}
