//Typography
@mixin pre-title {
    font-size: $small;
    font-family: $base-font;
    color: $sea;
    text-transform: uppercase;
    font-weight: 500;
}

@mixin photoblock_headline {
    font-size: $large;
    font-family: $headline;
    color: $dust;
    line-height: 56px;
    max-width: $narrow;
    @include pad__bot--xsmall;
}

@mixin base-p {
    font-size: $normal;
    line-height: 32px;
    color: $dust;
    font-family: $base-font;
}

//Flex
@mixin flex {
    display: flex;
    display:-webkit-flex;
}


// Media Queries

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media (max-width: 1080px) { @content; }
  }

  @else if $class == md {
    @media (max-width: 1335px) { @content; }
  }

  @else if $class == lg {
    @media (min-width: 1336px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}





//Padding Bottom Only

@mixin pad__bot--xsmall {
    padding-bottom: 24px;
}

@mixin pad__bot--small {
    padding-bottom: 48px;
}

@mixin pad__bot--med {
    padding-bottom: 80px;
}

@mixin pad__bot--large {
    padding-bottom: 160px;
}

@mixin pad__bot--max {
    padding-bottom: 240px;
}

//Padding Top Only
@mixin pad__top--xsmall {
    padding-top: 24px;
}

@mixin pad__top--med {
    padding-top: 80px;
}

@mixin pad__top--large {
    padding-top: 160px;
}

@mixin pad__top--max {
    padding-top: 240px;
}

@mixin pad__lr--16 {
    padding-left: 16px;
    padding-right: 16px;
}

@mixin pad_tb--medium {
    padding-top: 80px;
    padding-bottom: 80px;
}

@mixin pad__tb--xl {
    padding-top: 160px;
    padding-bottom: 160px;
}

@mixin pad__l--136 {
    padding-left: 136px;
}

@mixin pad__r--32 {
    padding-right: 32px;
}

@mixin pad__r--136 {
    padding-right: 136px;
}
