.u-flex {
    @include flex;

    @include breakpoint(xs) {
        display: block;
    }
}

// Font Sizes
.u-p-base {
    font-size: $normal;
    font-family: $base-font;
    line-height: 32px;
    padding-bottom: 24px;
}

.u-large {
    font-size: $large;
    line-height: 56px;

    @include breakpoint(xs) {
        font-size: $medium;
        line-height: 1.5em;
    }
}

.u-pre-title {
    @include pre-title;
}

// Colors
.u-dust {
    color: $dust;
}

.u-sea {
    color: $sea;
}

.u-shadow {
    box-shadow: 4px 24px 40px lighten($dust, 24%);
}
