// Blocks
.block {
    padding: 120px 0px;

    @include breakpoint(xs) {
        padding: 40px 0;
    }
}

.block__narrow {
    max-width: 800px;

    @include breakpoint(xs) {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.block__narrow--centered {
    @extend .block__narrow;
    margin: auto;
}

.block__wide {
    width: 100%;
    max-width: 1376px;
    margin: auto;

    @include breakpoint(xs) {
        width: 100%;
        padding-left: 16px;
       padding-right: 16px;
    }
}



.block__wide--centered {
   padding: 0 24px;
   @include breakpoint(sm) {
      padding-left: 16px;
      padding-right: 16px;
   }
}

.block__full {
    width: 100%;
    margin: auto;

    @include breakpoint(xs) {
        width: 100%;
    }
}


.block--intro {
   width: 100%;
   padding-right: 180px;
   display: flex;
   justify-content: flex-end;
   max-width: 1600px;
   margin: auto;
   padding-left: 40px;

   @include breakpoint(sm) {
      padding-right: 40px;
   }

   @include breakpoint(xs) {
      width: 100%;
      padding-right: 16px;
      flex-direction: column;
      padding-left: 16px;
   }
}

//Text Blocks
.textblock__narrow {
    width: 488px;

    @include breakpoint(xs) {
        width: 100%;
    }
}

.textblock__wide {
    max-width: 800px;

    @include breakpoint(xs) {
        width: 100%;
    }
}

.textblock__wide--centered {
    max-width: 800px;
    margin: auto;

    @include breakpoint(xs) {
        width: 100%;
        padding: 0 16px;
    }
}


.textblock__narrow--right {
    @extend .textblock__narrow;
    margin-left: 32px;

    @include breakpoint(xs) {
        width: 100%;
        margin-left: 0;
    }
}

.send {
    max-width: 696px;
    margin: auto;
    @include pad__tb--xl;
    @include flex;

    @include breakpoint(xs) {
        display: block;
        padding-left: 16px;
        padding-right: 16px;
    }
}

footer {
    width: 100%;
    text-align: center;
    background-image: url("../img/footer-bkg.jpg");
    background-position: center center;
    background-size: cover;
}

.overlay {
    padding-top: 240px;
    background: white;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffffff, rgba(255,255,255,0));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffffff, rgba(255,255,255,0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    @include breakpoint(xs) {
        padding-top: 120px;
    }
}

.error {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   height: 100%;
   margin-top: 120px;
}
