.btn {
    text-transform: uppercase;
    font-size: $normal;
    font-family: $base-font;
}

.btn__outline {
    outline: 4px solid $sea;
    padding: 16px 32px;
    font-size: $base-font;
    color: $sea;
    margin-top: 24px;
    display: inline-block;
    transition: .2s all ease-in-out;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background: $sea;
        color: white;
        outline: 4px solid $sea;
    }

    @include breakpoint(xs) {
        display: block;
        margin-bottom: 32px;
        background: white;
    }
}

.btn__text {
    border-bottom: 4px solid;
    padding-bottom: 8px;
    font-size: 1em;
    display: inline-block;
    font-family: $base-font;

    @include breakpoint(xs) {
        text-align: center;
        display: block;
    }
}

.btn__text--dust {
    color: $dust;

    &:hover {
        color: $sea;
    }
}

.btn__text--left {
    margin-left: 24px;

    @include breakpoint(xs) {
        margin-left: 0px;
    }
}

.btn__full {
    width: 100%;
    background: $sea;
    color: white;
    display: block;
    padding: 24px 0;

    &:hover {
      background: #6a8f8f;
   }

    @include breakpoint(xs) {
        margin-bottom: 0px;
    }
}
