.callout {
    text-align: center;
    border: 1px solid lighten($dust, 32%);
    margin-top: 80px;
}

.inner-callout {
    padding: 80px;
}

.missionary_id {
    color: $sea;
    font-weight: 500;
    font-family: $headline;
    padding: 24px 0;
    margin: 24px 0;
    border-top: 1px solid lighten($dust, 32%);
    border-bottom: 1px solid lighten($dust, 32%);
    font-size: $medium;
}
