.feed {
    .entry {
        margin: 120px 0;
        transition: .25s all ease-in-out;

        a {
            margin-top: 24px;
            display: inline-block;
        }
    }
}

.feed-post-title {
    font-size: $medium;
    font-family: $headline;
    color: $dust;
    line-height: 1.5em;
    margin: 16px 0;
    text-transform: capitalize;

    &:first-child {
        margin: 0px 0px 16px 0px;
    }
}

.excerpt {
    line-height: 32px;
    padding: 24px 0;
}

// .read-more {
//     text-transform: uppercase;
//     font-family: $base-font;
//     font-size: $normal;
//     font-weight: 500;
//     margin: 40px 0 0 0;
//     display: inline-block;
//     padding-bottom: 8px;
//     border-bottom: 4px solid $sea;
// }
