.hero {
    height: 900px;
    @include flex;
    background-image: url('../img/home-hero@1x.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;

    @include breakpoint(xs) {
        height: 90vh;
    }

    .hero__wrapper {
        margin: auto;
        max-width: $wide;
        margin-top: 240px;

        @include breakpoint(sm) {
            padding: 0 40px;

        }

        @include breakpoint(xs) {
            padding: 0 3%;
            margin-top: 80px;
        }

        .hero__headline {
            font-family: $headline;
            color: $dust;
            text-align: center;
            line-height: 56px;
            font-size: $medium;
            margin: auto;
            @include pad__bot--med;

            @include breakpoint(xs) {
                line-height: 1.5em;
                font-size: $normal;
            }
        }

        .hero__author {
            font-size: $small;
            text-align: center;
            text-transform: uppercase;
            font-family: $headline;
            color: $dust;
        }
    }
}
