.image__full, .image__full img {
    width: 100%;
}

.image__full--rough {
    position: relative;
}


.image__full {
    width: 100%;
    overflow: hidden;
    @include flex;
    align-items: center;

    img {
        width: 100%;
        height: auto;
    }
}
