.line {
    line-height: 4px;

    @include breakpoint(xs) {
        margin-bottom: 24px;
        display: block;
    }
}

.line--pad {
    line-height: 24px;
}

.line__short {
    width: 72px;
    min-width: 72px;

    img {
        width: 100%;
    }

    @include breakpoint(xs) {
        margin-bottom: 16px;
    }
}

.line__short--left {
    margin-right: 32px;

    @include breakpoint(xs) {
        margin-right: 0;
    }
}

.post-pullquote .line {
    line-height: 28px;
}

.line__long {
    width: 280px;
}

.line__long--right {
    position: relative;
    right: 208px;

    @include breakpoint(sm) {
        display: none;
    }
}

.line__long--left {
    float: right;
    left: 208px;
    position: relative;

    @include breakpoint(sm) {
        display: none;
    }
}
