
nav {
    width: $full;
    max-width: 1440px;
    margin: auto;
    height: 96px;
    @include flex;
    z-index: 99;
    padding: 0 48px;
    align-items: center;

    @include breakpoint(sm) {
      height: auto;
      flex-wrap: wrap;
      margin: 16px 0;
      justify-content: flex-start;
   }

    @include breakpoint(xs) {
      padding: 0 8px;
    }

    .logo {
        flex-grow: 1;
        font-size: $medium;
        color: $dust;

        img {
           max-height: 40px;
           width: auto;

           @include breakpoint(xs) {
             max-height: 32px;
          }
        }
        a {
            color: $dust;
        }
    }

    ul {
        display: flex;
        flex-grow: 2;
        justify-content: flex-end;

        @include breakpoint(sm) {
          flex-direction: column;
          background: $sea;
          z-index: 99;
          align-self: flex-start;
          display: none;
          flex-basis: 100%;
      }

        li {
            line-height: 96px;

            @include breakpoint(sm) {
               line-height: 18px;
            }

            a {
                text-transform: uppercase;
                color: $sea;
                margin: 0 16px;
                padding-bottom: 8px;
                font-family: $base-font;
                font-size: 1em;
                font-weight: 500;

                @include breakpoint(sm) {
                   color: white;
                   padding: 16px;
                   display: block;
                   margin: 0px;
                   border-bottom: 2px solid #86a5a5;

                   &:hover {
                      background: #739797;
                      border-bottom: 2px solid #739797;
                   }
                }

                &:hover {
                    border-bottom: 2px solid $sea;
                }
            }
        }
    }

   .show-menu {
      display: none;

      @include breakpoint(sm) {
         display: block;
         color: $sea;
         font-size: $normal;


         &:hover {
            cursor: pointer;
         }
      }
   }

   input[type=checkbox]{
       display: none;
   }

   input[type=checkbox]:checked ~ #menu{
       display: block;
   }

}






.footer-nav {
    padding: 240px 0 80px 0;
    text-align: center;
    margin: auto;


    ul {
        @include flex;
        justify-content: center;

        @include breakpoint(xs) {
            display: block;
        }

        li a {
            margin: 0 16px;
            color: $dust;
            font-size: $normal;
            font-family: $base-font;

            &:hover {
            color: $sea;
            }

            @include breakpoint(xs) {
                display: block;
                padding: 8px 0;
            }
        }
    }
}
