.page-title {
    font-size: $xl;
    font-family: $headline;
    color: $dust;
    line-height: 1.5em;

    @include breakpoint(xs) {
        font-size: $large;
    }
}

.home-intro {
   font-size: $medium;
   padding-bottom: 16px;
}

.send-us {
    font-size: $xl;
    color: $dust;
    font-family: $headline;
    @include pad__top--xsmall;
    @include pad__bot--small;
}

.verse {
    text-align: center;
    margin: auto;
    color: $dust;
    font-size: $normal;
    line-height: 40px;
    font-family: $headline;
    @include pad__bot--small;
}

.cite {
    color: $dust;
    font-size: 1em;
    text-transform: uppercase;
    line-height: 32px;
    font-family: $headline;
}

.support-headline {
    font-size: $large;
    color: $dust;
    margin-top: 0;
    padding-bottom: 16px;
    line-height: 56px;
    @include breakpoint(xs) {
        font-size: $medium;
        line-height: 40px;
    }

}

.intro-headline {
    padding: 24px 0;
}

.updates {

    h1 {
        font-size: $large;
        color: $dust;
        margin-bottom: 48px;
    }

    p {
        line-height: 1.25em;
        font-size: $normal;
        font-family: $base-font;
    }
}

.error-number {
   padding-bottom: 8px;
   color: $dust-light;
   font-size: $normal;
}
