.photo-block {
    @include flex;
    align-items: center;
    padding-right: 16px;
    padding-left: 16px;

    @include breakpoint(xs) {
        display: block;
    }

    .photo {
      @include breakpoint(sm){
         width: 50%;

         img {
            width: 100%;
            height: auto;
         }
      }



        @include breakpoint(xs) {
            display: block;
            width: 100%;
            overflow: hidden;

            img {
                max-width: 100%;
                height: auto;
                margin: auto;
            }
        }
    }

    .content--left {
        margin-right: 120px;

        h2 {
            @include photoblock_headline;
            @include pad__top--xsmall;
        }

        p {
            @include base-p;
        }

        @include breakpoint(md) {
            margin-right: 40px;
        }

        @include breakpoint(sm) {
           width: 50%;
        }

        @include breakpoint(xs) {
            margin-right: 0;
            width: 100%;
        }
    }

    .content--right {
        margin-left: 120px;

        h2 {
            @include photoblock_headline;
            @include pad__top--xsmall;

        }

        p {
            @include base-p;
        }

        @include breakpoint(md) {
            margin-left: 40px;
        }
        @include breakpoint(sm) {
          width: 50%;
      }

        @include breakpoint(xs) {
            margin-left: 0;
            width: 100%;
        }
    }
}



.family {
    margin-top: 40px;
}

.laik {
    margin-right: 80px;

    p {
        @include base-p;
    }

    @include breakpoint(sm) {
        display: block;
        width: 100%;
        margin-right: 40px;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            box-shadow: none;
        }
    }

}

.kelles {
    margin-left: 80px;

    p {
        @include base-p;
    }

    @include breakpoint(sm) {
        display: block;
        width: 100%;
        margin-top: 80px;
        overflow: hidden;
        margin-left: 0px;

        img {
            width: 100%;
            height: auto;
            box-shadow: none;
        }
    }
}

.laik h2, .kelles h2 {
    @include photoblock_headline;
    margin-top: 40px;
}
