.post-wrapper {
    padding: 0px 0 80px 0;

    h2 {
        font-size: $medium;
        color: $dust;
        max-width: 593px;
        font-weight: 500;
        line-height: 1.25em;
        margin: 32px auto 16px auto ;
    }

    ol, ul {
        margin: 16px auto;

        li {
            list-style: decimal;
            font-size: $normal;
            font-family: $base-font;
            color: $dust;
            line-height: 32px;
            @include pad__bot--xsmall;
            max-width: 553px;
            margin: auto;
            padding-left: 8px;
        }
    }
}

.post-title {
    color: $dust;
    font-size: $xl;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 48px;

    @include breakpoint(xs) {
        font-size: $large;
    }
}

.post-data {
    font-family: $base-font;
    font-size: $normal;
    color: lighten($dust, 32%);
}

.feature-image {
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    @include flex;
    align-items: center;

    img {
        width: 100%;
        height: auto;
    }
}

.post-text-block {
    padding: 24px 0;

    &:first-child {
        padding-top: 0px;
    }
}

.post-text-block p {
    font-size: $normal;
    font-family: $base-font;
    color: $dust;
    line-height: 32px;
    @include pad__bot--xsmall;
    max-width: 593px;
    margin: auto;
}

.post-photo {
    margin: 24px 0 48px 0;
}

.post-photo img {
        width: 100%;
}

.post-pullquote {
   display: flex;
   margin: 24px 0;

    @include breakpoint(xs) {
      display: block;
   }

    .cite  {
        font-size: $small;
        color: $sea;
        margin-bottom: 24px;
    }
}

.quote {
    font-size: $medium;
    color: $dust;
    font-family: $headline;
    line-height: 56px;
    margin-bottom: 24px;
}

.post-nav {

    h5 {
        font-family: $base-font;
        color: $dust;
        font-size: $normal;
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    h4 {
        font-size: $medium;
        font-family: $headline;
        color: $dust;
        line-height: 1.25em;
    }

    .next {
        margin-bottom: 80px;
        border-left: 8px solid $sea;
        padding-left: 24px;
        transition: all .3s ease-in-out;

        &:hover {
            color: $sea;
            padding-left: 32px;
        }
    }
}
