.teaching {
    h1 {
        font-family: $headline;
        font-size: $large;
        color: $dust;
        line-height: 1.25em;
        margin-bottom: 48px;
    }

    audio {
        width: 100%;
        display: block;
        margin: 40px 0;
    }
}
