.texture--bottom {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: $full;

    img {
        width: $full;
    }

}

.texture--top {
    position: absolute;
    left: 0;
    top: -80px;
    width: $full;

    img {
        width: $full;
    }

    @include breakpoint(xs) {
        top: -16px;;
    }
}
