.video {
    margin: 24px 0 48px 0;
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    @include breakpoint(xs) {
        width: 100%;
        height: auto;
    }

    iframe {
       position: absolute;
       top:0;
       left: 0;
       width: 100%;
       height: 100%;
    }
}

.missions-video {
   margin-left: 120px;
   display: flex;
   align-items: center;
   width: 33%;
   height: auto;

   @include breakpoint(sm) {
      width: 50%;
   }

   @include breakpoint(xs) {
      width: 100%;
      height: auto;
      flex-direction: column;
      margin-left: 0px;
   }

   iframe {
      width: 100%;
      height: 50%;
   }
}
