<div class="hero">
    <div class="hero__wrapper">
            <h2 class="hero__headline">{{ hero_headline }}</h2>
            <p class="hero__author">—{{ cite }}</p>
        <div class="texture--bottom">
            <img src="/site/themes/missions/img/texture-bot.png" alt="">
        </div>
    </div>
</div>
