<nav>
    <div class="logo">
        <a href="/"><img src="/site/themes/missions/img/logo.jpg"></a>
    </div>
    <label for="show-menu" class="show-menu">Menu</label>
    <input type="checkbox" id="show-menu" role="button">
    <ul id="menu">
        {{ nav from="/" }}
        <li><a href="{{ url }}">{{ title }}</a></li>
        {{ /nav }}
    </ul>
</nav>
