<div class="send">
    <div class="wrap--left">
        <div class="line line__short line__short--left">
            <img src="assets/img/line-short.jpg" alt="">
        </div>
    </div>
    <div class="textblock__narrow--right">
        <div class="content content--right">
            <h3 class="u-sea u-pre-title"> We Will Go</h3>
            <h2 class="send-us">Will You Send Us?</h2>
        </div>
        <div class="">
            <a class="btn btn__outline btn__outline--sea" href="/support">Support Us</a>
            <a class="btn btn__text btn__text--dust btn__text--left" href="/ywam">About YWAM</a>
        </div>
    </div>
</div>
