<div class="error block block__narrow block__narrow--centered">

   <h2 class="error-number">404 Error</h2>
   <h1 class="feed-post-title">Oops! Looks like we can't find what you are looking for. Sorry about that.</h1>
   <a class="btn__outline" href="/">Back home</a>

</div>
