<div class="post-qullquote">
    <div class="line line__short line__short--left">
        <img src="/assets/img/line-short.jpg" alt="">
    </div>
    <div class="pullquote">
        <h3 class="quote">{{ quote }}</h3>
        <h4 class="cite">{{ cite }}</h4>
    </div>
</div>
