$base-font-size:        16px !default;
$base-text-color:       #808183 !default;
$base-background-color: #fff !default;

// Typography
$base-font:  'Roboto', sans-serif;
$headline: 'Inknut Antiqua', serif;

// Colors
$dust: #808183;
$dust-light: #cccdcd;
$sea: #90ADAD;

// Font Sizes
$small: .8em;
$normal: 1.25em;
$medium: 2em;
$large: 3em;
$xl: 4.5em;
$jumbo: 6em;

// Width
$narrow: 489px;
$wide: 1008px;
$full: 100%;
