.intro-video {
    @include pad__l--136;
    @include flex;
    align-items: center;

    @include breakpoint(xs) {
        padding: 0;
        width: 100%;
        height: auto;
        display: none;
    }
}
