<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="Max and Steffany Thomas, missionaries to the unreached of the world. ">
    <title>{{ title or site_title }}</title>

    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua:600|Roboto:400,500" rel="stylesheet">
    <link rel="stylesheet" href="{{ theme:css }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116823611-1"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-116823611-1');
   </script>

</head>

<body>

    <header>
        {{ partial:nav from="/" include_home="true" }}
    </header>

    <div>
        {{ template_content }}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ theme:js }}"></script>

</body>

</html>
