.photo--wide img {
   max-width: 720px;

   @include breakpoint(sm) {
      max-width: 40vw;
      height: auto;
   }
}

.photo--tall img {
   max-height: 800px;

   @include breakpoint(sm) {
      max-width: 50vw;
   }
}


.photoblock--right {
    flex-direction: row-reverse;
}
