.u-flex {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}

@media (max-width: 767px) {
  .u-flex {
    display: block;
  }
}

.u-p-base {
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  padding-bottom: 24px;
}

.u-large {
  font-size: 3em;
  line-height: 56px;
}

@media (max-width: 767px) {
  .u-large {
    font-size: 2em;
    line-height: 1.5em;
  }
}

.u-pre-title {
  font-size: 0.8em;
  font-family: "Roboto", sans-serif;
  color: #90ADAD;
  text-transform: uppercase;
  font-weight: 500;
}

.u-dust {
  color: #808183;
}

.u-sea {
  color: #90ADAD;
}

.u-shadow {
  box-shadow: 4px 24px 40px #bebebf;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  background: white;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-family: "Inknut Antiqua", serif;
  line-height: 1.125em;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
  color: #808183;
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: #90ADAD;
  font-family: "Roboto", sans-serif;
}

em {
  font-style: italic;
}

form {
  margin-top: 48px;
}

input {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  color: #808183;
  width: 100%;
  display: block;
  padding: 8px;
  margin: 8px 0px;
}

label {
  font-size: 0.8em;
  color: #808183;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  line-height: 1em;
}

button {
  border: none;
  color: #90ADAD;
  margin-top: 16px;
  transition: .2s padding-left ease-in-out;
  transition: .2s padding-right ease-in-out;
}

button:hover {
  cursor: pointer;
}

.honeypot {
  display: none !important;
}

.alerts span {
  color: red !important;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
}

.hero {
  height: 900px;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  background-image: url("../img/home-hero@1x.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
}

@media (max-width: 767px) {
  .hero {
    height: 90vh;
  }
}

.hero .hero__wrapper {
  margin: auto;
  max-width: 1008px;
  margin-top: 240px;
}

@media (max-width: 1080px) {
  .hero .hero__wrapper {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .hero .hero__wrapper {
    padding: 0 3%;
    margin-top: 80px;
  }
}

.hero .hero__wrapper .hero__headline {
  font-family: "Inknut Antiqua", serif;
  color: #808183;
  text-align: center;
  line-height: 56px;
  font-size: 2em;
  margin: auto;
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .hero .hero__wrapper .hero__headline {
    line-height: 1.5em;
    font-size: 1.25em;
  }
}

.hero .hero__wrapper .hero__author {
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
  font-family: "Inknut Antiqua", serif;
  color: #808183;
}

.texture--bottom {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
}

.texture--bottom img {
  width: 100%;
}

.texture--top {
  position: absolute;
  left: 0;
  top: -80px;
  width: 100%;
}

.texture--top img {
  width: 100%;
}

@media (max-width: 767px) {
  .texture--top {
    top: -16px;
  }
}

nav {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  height: 96px;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  z-index: 99;
  padding: 0 48px;
  -webkit-box-align: center;
  align-items: center;
}

@media (max-width: 1080px) {
  nav {
    height: auto;
    flex-wrap: wrap;
    margin: 16px 0;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}

@media (max-width: 767px) {
  nav {
    padding: 0 8px;
  }
}

nav .logo {
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: 2em;
  color: #808183;
}

nav .logo img {
  max-height: 40px;
  width: auto;
}

@media (max-width: 767px) {
  nav .logo img {
    max-height: 32px;
  }
}

nav .logo a {
  color: #808183;
}

nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 2;
  flex-grow: 2;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

@media (max-width: 1080px) {
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: #90ADAD;
    z-index: 99;
    align-self: flex-start;
    display: none;
    flex-basis: 100%;
  }
}

nav ul li {
  line-height: 96px;
}

@media (max-width: 1080px) {
  nav ul li {
    line-height: 18px;
  }
}

nav ul li a {
  text-transform: uppercase;
  color: #90ADAD;
  margin: 0 16px;
  padding-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 500;
}

@media (max-width: 1080px) {
  nav ul li a {
    color: white;
    padding: 16px;
    display: block;
    margin: 0px;
    border-bottom: 2px solid #86a5a5;
  }
  nav ul li a:hover {
    background: #739797;
    border-bottom: 2px solid #739797;
  }
}

nav ul li a:hover {
  border-bottom: 2px solid #90ADAD;
}

nav .show-menu {
  display: none;
}

@media (max-width: 1080px) {
  nav .show-menu {
    display: block;
    color: #90ADAD;
    font-size: 1.25em;
  }
  nav .show-menu:hover {
    cursor: pointer;
  }
}

nav input[type=checkbox] {
  display: none;
}

nav input[type=checkbox]:checked ~ #menu {
  display: block;
}

.footer-nav {
  padding: 240px 0 80px 0;
  text-align: center;
  margin: auto;
}

.footer-nav ul {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .footer-nav ul {
    display: block;
  }
}

.footer-nav ul li a {
  margin: 0 16px;
  color: #808183;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
}

.footer-nav ul li a:hover {
  color: #90ADAD;
}

@media (max-width: 767px) {
  .footer-nav ul li a {
    display: block;
    padding: 8px 0;
  }
}

.line {
  line-height: 4px;
}

@media (max-width: 767px) {
  .line {
    margin-bottom: 24px;
    display: block;
  }
}

.line--pad {
  line-height: 24px;
}

.line__short {
  width: 72px;
  min-width: 72px;
}

.line__short img {
  width: 100%;
}

@media (max-width: 767px) {
  .line__short {
    margin-bottom: 16px;
  }
}

.line__short--left {
  margin-right: 32px;
}

@media (max-width: 767px) {
  .line__short--left {
    margin-right: 0;
  }
}

.post-pullquote .line {
  line-height: 28px;
}

.line__long {
  width: 280px;
}

.line__long--right {
  position: relative;
  right: 208px;
}

@media (max-width: 1080px) {
  .line__long--right {
    display: none;
  }
}

.line__long--left {
  float: right;
  left: 208px;
  position: relative;
}

@media (max-width: 1080px) {
  .line__long--left {
    display: none;
  }
}

.block {
  padding: 120px 0px;
}

@media (max-width: 767px) {
  .block {
    padding: 40px 0;
  }
}

.block__narrow, .block__narrow--centered {
  max-width: 800px;
}

@media (max-width: 767px) {
  .block__narrow, .block__narrow--centered {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.block__narrow--centered {
  margin: auto;
}

.block__wide {
  width: 100%;
  max-width: 1376px;
  margin: auto;
}

@media (max-width: 767px) {
  .block__wide {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.block__wide--centered {
  padding: 0 24px;
}

@media (max-width: 1080px) {
  .block__wide--centered {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.block__full {
  width: 100%;
  margin: auto;
}

@media (max-width: 767px) {
  .block__full {
    width: 100%;
  }
}

.block--intro {
  width: 100%;
  padding-right: 180px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  max-width: 1600px;
  margin: auto;
  padding-left: 40px;
}

@media (max-width: 1080px) {
  .block--intro {
    padding-right: 40px;
  }
}

@media (max-width: 767px) {
  .block--intro {
    width: 100%;
    padding-right: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-left: 16px;
  }
}

.textblock__narrow, .textblock__narrow--right {
  width: 488px;
}

@media (max-width: 767px) {
  .textblock__narrow, .textblock__narrow--right {
    width: 100%;
  }
}

.textblock__wide {
  max-width: 800px;
}

@media (max-width: 767px) {
  .textblock__wide {
    width: 100%;
  }
}

.textblock__wide--centered {
  max-width: 800px;
  margin: auto;
}

@media (max-width: 767px) {
  .textblock__wide--centered {
    width: 100%;
    padding: 0 16px;
  }
}

.textblock__narrow--right {
  margin-left: 32px;
}

@media (max-width: 767px) {
  .textblock__narrow--right {
    width: 100%;
    margin-left: 0;
  }
}

.send {
  max-width: 696px;
  margin: auto;
  padding-top: 160px;
  padding-bottom: 160px;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
}

@media (max-width: 767px) {
  .send {
    display: block;
    padding-left: 16px;
    padding-right: 16px;
  }
}

footer {
  width: 100%;
  text-align: center;
  background-image: url("../img/footer-bkg.jpg");
  background-position: center center;
  background-size: cover;
}

.overlay {
  padding-top: 240px;
  background: white;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media (max-width: 767px) {
  .overlay {
    padding-top: 120px;
  }
}

.error {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  margin-top: 120px;
}

.photo-block {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
}

@media (max-width: 767px) {
  .photo-block {
    display: block;
  }
}

@media (max-width: 1080px) {
  .photo-block .photo {
    width: 50%;
  }
  .photo-block .photo img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .photo-block .photo {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .photo-block .photo img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
}

.photo-block .content--left {
  margin-right: 120px;
}

.photo-block .content--left h2 {
  font-size: 3em;
  font-family: "Inknut Antiqua", serif;
  color: #808183;
  line-height: 56px;
  max-width: 489px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.photo-block .content--left p {
  font-size: 1.25em;
  line-height: 32px;
  color: #808183;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1335px) {
  .photo-block .content--left {
    margin-right: 40px;
  }
}

@media (max-width: 1080px) {
  .photo-block .content--left {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .photo-block .content--left {
    margin-right: 0;
    width: 100%;
  }
}

.photo-block .content--right {
  margin-left: 120px;
}

.photo-block .content--right h2 {
  font-size: 3em;
  font-family: "Inknut Antiqua", serif;
  color: #808183;
  line-height: 56px;
  max-width: 489px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.photo-block .content--right p {
  font-size: 1.25em;
  line-height: 32px;
  color: #808183;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1335px) {
  .photo-block .content--right {
    margin-left: 40px;
  }
}

@media (max-width: 1080px) {
  .photo-block .content--right {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .photo-block .content--right {
    margin-left: 0;
    width: 100%;
  }
}

.family {
  margin-top: 40px;
}

.laik {
  margin-right: 80px;
}

.laik p {
  font-size: 1.25em;
  line-height: 32px;
  color: #808183;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1080px) {
  .laik {
    display: block;
    width: 100%;
    margin-right: 40px;
    overflow: hidden;
  }
  .laik img {
    width: 100%;
    height: auto;
    box-shadow: none;
  }
}

.kelles {
  margin-left: 80px;
}

.kelles p {
  font-size: 1.25em;
  line-height: 32px;
  color: #808183;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 1080px) {
  .kelles {
    display: block;
    width: 100%;
    margin-top: 80px;
    overflow: hidden;
    margin-left: 0px;
  }
  .kelles img {
    width: 100%;
    height: auto;
    box-shadow: none;
  }
}

.laik h2, .kelles h2 {
  font-size: 3em;
  font-family: "Inknut Antiqua", serif;
  color: #808183;
  line-height: 56px;
  max-width: 489px;
  padding-bottom: 24px;
  margin-top: 40px;
}

.btn {
  text-transform: uppercase;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
}

.btn__outline {
  outline: 4px solid #90ADAD;
  padding: 16px 32px;
  font-size: "Roboto", sans-serif;
  color: #90ADAD;
  margin-top: 24px;
  display: inline-block;
  transition: .2s all ease-in-out;
  text-align: center;
  text-transform: uppercase;
}

.btn__outline:hover {
  background: #90ADAD;
  color: white;
  outline: 4px solid #90ADAD;
}

@media (max-width: 767px) {
  .btn__outline {
    display: block;
    margin-bottom: 32px;
    background: white;
  }
}

.btn__text {
  border-bottom: 4px solid;
  padding-bottom: 8px;
  font-size: 1em;
  display: inline-block;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 767px) {
  .btn__text {
    text-align: center;
    display: block;
  }
}

.btn__text--dust {
  color: #808183;
}

.btn__text--dust:hover {
  color: #90ADAD;
}

.btn__text--left {
  margin-left: 24px;
}

@media (max-width: 767px) {
  .btn__text--left {
    margin-left: 0px;
  }
}

.btn__full {
  width: 100%;
  background: #90ADAD;
  color: white;
  display: block;
  padding: 24px 0;
}

.btn__full:hover {
  background: #6a8f8f;
}

@media (max-width: 767px) {
  .btn__full {
    margin-bottom: 0px;
  }
}

.page-title {
  font-size: 4.5em;
  font-family: "Inknut Antiqua", serif;
  color: #808183;
  line-height: 1.5em;
}

@media (max-width: 767px) {
  .page-title {
    font-size: 3em;
  }
}

.home-intro {
  font-size: 2em;
  padding-bottom: 16px;
}

.send-us {
  font-size: 4.5em;
  color: #808183;
  font-family: "Inknut Antiqua", serif;
  padding-top: 24px;
  padding-bottom: 48px;
}

.verse {
  text-align: center;
  margin: auto;
  color: #808183;
  font-size: 1.25em;
  line-height: 40px;
  font-family: "Inknut Antiqua", serif;
  padding-bottom: 48px;
}

.cite {
  color: #808183;
  font-size: 1em;
  text-transform: uppercase;
  line-height: 32px;
  font-family: "Inknut Antiqua", serif;
}

.support-headline {
  font-size: 3em;
  color: #808183;
  margin-top: 0;
  padding-bottom: 16px;
  line-height: 56px;
}

@media (max-width: 767px) {
  .support-headline {
    font-size: 2em;
    line-height: 40px;
  }
}

.intro-headline {
  padding: 24px 0;
}

.updates h1 {
  font-size: 3em;
  color: #808183;
  margin-bottom: 48px;
}

.updates p {
  line-height: 1.25em;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
}

.error-number {
  padding-bottom: 8px;
  color: #cccdcd;
  font-size: 1.25em;
}

.post-wrapper {
  padding: 0px 0 80px 0;
}

.post-wrapper h2 {
  font-size: 2em;
  color: #808183;
  max-width: 593px;
  font-weight: 500;
  line-height: 1.25em;
  margin: 32px auto 16px auto;
}

.post-wrapper ol, .post-wrapper ul {
  margin: 16px auto;
}

.post-wrapper ol li, .post-wrapper ul li {
  list-style: decimal;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  color: #808183;
  line-height: 32px;
  padding-bottom: 24px;
  max-width: 553px;
  margin: auto;
  padding-left: 8px;
}

.post-title {
  color: #808183;
  font-size: 4.5em;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .post-title {
    font-size: 3em;
  }
}

.post-data {
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
  color: #d3d3d4;
}

.feature-image {
  width: 100%;
  max-height: 800px;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  align-items: center;
}

.feature-image img {
  width: 100%;
  height: auto;
}

.post-text-block {
  padding: 24px 0;
}

.post-text-block:first-child {
  padding-top: 0px;
}

.post-text-block p {
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  color: #808183;
  line-height: 32px;
  padding-bottom: 24px;
  max-width: 593px;
  margin: auto;
}

.post-photo {
  margin: 24px 0 48px 0;
}

.post-photo img {
  width: 100%;
}

.post-pullquote {
  display: -webkit-box;
  display: flex;
  margin: 24px 0;
}

@media (max-width: 767px) {
  .post-pullquote {
    display: block;
  }
}

.post-pullquote .cite {
  font-size: 0.8em;
  color: #90ADAD;
  margin-bottom: 24px;
}

.quote {
  font-size: 2em;
  color: #808183;
  font-family: "Inknut Antiqua", serif;
  line-height: 56px;
  margin-bottom: 24px;
}

.post-nav h5 {
  font-family: "Roboto", sans-serif;
  color: #808183;
  font-size: 1.25em;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.post-nav h4 {
  font-size: 2em;
  font-family: "Inknut Antiqua", serif;
  color: #808183;
  line-height: 1.25em;
}

.post-nav .next {
  margin-bottom: 80px;
  border-left: 8px solid #90ADAD;
  padding-left: 24px;
  transition: all .3s ease-in-out;
}

.post-nav .next:hover {
  color: #90ADAD;
  padding-left: 32px;
}

.feed .entry {
  margin: 120px 0;
  transition: .25s all ease-in-out;
}

.feed .entry a {
  margin-top: 24px;
  display: inline-block;
}

.feed-post-title {
  font-size: 2em;
  font-family: "Inknut Antiqua", serif;
  color: #808183;
  line-height: 1.5em;
  margin: 16px 0;
  text-transform: capitalize;
}

.feed-post-title:first-child {
  margin: 0px 0px 16px 0px;
}

.excerpt {
  line-height: 32px;
  padding: 24px 0;
}

.sidebar {
  width: 25%;
}

.callout {
  text-align: center;
  border: 1px solid #d3d3d4;
  margin-top: 80px;
}

.inner-callout {
  padding: 80px;
}

.missionary_id {
  color: #90ADAD;
  font-weight: 500;
  font-family: "Inknut Antiqua", serif;
  padding: 24px 0;
  margin: 24px 0;
  border-top: 1px solid #d3d3d4;
  border-bottom: 1px solid #d3d3d4;
  font-size: 2em;
}

.teaching h1 {
  font-family: "Inknut Antiqua", serif;
  font-size: 3em;
  color: #808183;
  line-height: 1.25em;
  margin-bottom: 48px;
}

.teaching audio {
  width: 100%;
  display: block;
  margin: 40px 0;
}

.video {
  margin: 24px 0 48px 0;
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

@media (max-width: 767px) {
  .video {
    width: 100%;
    height: auto;
  }
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.missions-video {
  margin-left: 120px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 33%;
  height: auto;
}

@media (max-width: 1080px) {
  .missions-video {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .missions-video {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 0px;
  }
}

.missions-video iframe {
  width: 100%;
  height: 50%;
}

.image__full, .image__full img {
  width: 100%;
}

.image__full--rough {
  position: relative;
}

.image__full {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  align-items: center;
}

.image__full img {
  width: 100%;
  height: auto;
}

.intro-video {
  padding-left: 136px;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .intro-video {
    padding: 0;
    width: 100%;
    height: auto;
    display: none;
  }
}

.stats h3 {
  text-align: center;
  font-size: 1.25em;
  font-family: "Roboto", sans-serif;
  color: #90ADAD;
  text-transform: uppercase;
  font-weight: 500;
}

#mc_embed_signup form {
  padding: 0 !important;
}

.submit {
  background-color: #90ADAD !important;
  padding: 24px;
}

.photo--wide img {
  max-width: 720px;
}

@media (max-width: 1080px) {
  .photo--wide img {
    max-width: 40vw;
    height: auto;
  }
}

.photo--tall img {
  max-height: 800px;
}

@media (max-width: 1080px) {
  .photo--tall img {
    max-width: 50vw;
  }
}

.photoblock--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

/*# sourceMappingURL=missions.css.map */
