<div class="block block__narrow--centered">
    <h1 class="page-title">{{ title }}</h1>
</div>

<div class="block block__wide photo-block photoblock--left">

    <div class="photo photo--right">
        {{ glide:generate src="{about_acts_photo}" width="590" height="800" fit="crop" }}
            <img class="u-shadow" src="{{ url }}" width="{{ width }}" height="{{ height }}"/>
        {{ /glide:generate }}
    </div>
    <div class="content--right">
        <div class="line__long line__long--right">
            <img src="/site/themes/missions/img/long-line@1x.jpg" alt="">
        </div>
        <h2>{{ about_acts_headline }}</h2>
        <p>{{ about_acts_body }}</p>
    </div>
</div>
<div class="block block__wide photo-block photoblock--right">

    <div class="photo photoblock--left">
        {{ glide:generate src="{our_role_photo}" width="590" height="800" fit="crop" }}
            <img class="u-shadow" src="{{ url }}" width="{{ width }}" height="{{ height }}"/>
        {{ /glide:generate }}
    </div>
    <div class="content--left">
        <div class="line__long line__long--left">
            <img src="/site/themes/missions/img/long-line@1x.jpg" alt="">
        </div>
        <h2>{{ our_role_headline }}</h2>
        <p>{{ our_role_body }}</p>
    </div>

</div>

{{ partial:send }}
