<div class="block block__narrow block__narrow--centered feed">
        <h1 class="page-title">{{ title }}</h1>
        {{ collection:blog-posts }}

                <div class="entry">
                    <h2 class="feed-post-title">{{ title }}</h2>
                    <p class="post-data">By {{ relate:author }} {{ first_name }} {{ last_name }}{{ /relate:author }} on {{ date }}</p>
                    <p class="excerpt">
                        {{ get_content }}
                            {{ excerpt }}..
                        {{ /get_content }}
                    </p>
                    <a class="btn btn__outline" href="{{ url }}">Read Post</a>
                </div>

        {{ /collection:blog-posts}}
</div>
