<div class="block block__narrow block__narrow--centered u-flex">
    <div class="line line__short line__short--left">
        <img src="/site/themes/missions/img/line-short.jpg" alt="">
    </div>
    <div class="textblock__narrow textblock__narrow--right">
        <h3 class="u-sea u-pre-title">Our Family</h3>
            <h1 class="intro-headline u-large u-dust">Hi, we are the Thomas family.</h1>
            <p class="u-p-base u-dust">{{ intro }}</p>
    </div>
</div>

<div class="image__full image__full--rough">
    <div class="texture--top">
        <img src="/assets/img/texture-top.png" alt="">
    </div>

    {{ glide:generate src="{family_photo}" width="1600" height="960" }}
        <img src="{{ url }}" width="{{ width }}" height="{{ height }}" />
    {{ /glide:generate }}

    <div class="texture--bottom">
        <img src="/site/themes/missions/img/texture-bot.png" alt="">
    </div>
</div><!-- end featured image -->

<div class="family">
    <div class="block block__wide photo-block photoblock--left">
        <div class="photo photo--left photo--wide">
           {{ glide:generate src="{max_photo}" width="700" height="540" fit="crop_focal" }}
               <img class="u-shadow" src="{{ url }}" />
            {{ /glide:generate }}
        </div>
        <div class="content--right">
            <div class="line__long line__long--right">
                <img src="/site/themes/missions/img/long-line@1x.jpg" alt="">
            </div>
            <h2>Maxwell G. Thomas</h2>
            <p>{{ max_bio }}</p>
        </div>
    </div>

    <div class="block block__wide photo-block photoblock--right">

        <div class="photo photo--left photo--tall ">
           {{ glide:generate src="{stef_photo}" width="590" height="800" fit="crop_focal" }}
            <img class="u-shadow" src="{{ url }}"/>
            {{ /glide:generate }}
        </div>
        <div class="content--left">
            <div class="line__long line__long--left">
                <img src="/site/themes/missions/img/long-line@1x.jpg" alt="">
            </div>
            <h2>Steffany K. Thomas</h2>
            <p>{{ stef_bio }}</p>
        </div>

    </div>

    <div class="block block__wide block__wide--centered u-flex">
        <div class="photo laik">
            {{ glide:generate src="{laik_photo}" width="592" height="436" fit="crop" }}
                <img class="u-shadow" src="{{ url }}" width="{{ width }}" height="{{ height }}"/>
            {{ /glide:generate }}
            <h2>Laikyn R. Thomas</h2>
            <div class="u-flex">
                <div class="line__short line__short--left">
                    <img src="/site/themes/missions/img/line-short.jpg" alt="">
                </div>
                <p>{{ laik_bio }}</p>
            </div>
        </div>
        <div class="photo kelles">
            {{ glide:generate src="{kelles_photo}" width="450" height="592" fit="crop" }}
                <img class="u-shadow" src="{{ url }}" width="{{ width }}" height="{{ height }}"/>
            {{ /glide:generate }}
            <h2>Kelles C. Thomas</h2>
            <div class="u-flex">
                <div class="line__short line__short--left">
                    <img src="/site/themes/missions/img/line-short.jpg" alt="">
                </div>
                <p>{{ kelles_bio }}</p>
            </div>
        </div>
    </div>
</div>
{{ partial:send }}
