<div class="intro block block--intro u-flex">
    <div class="line line__short line__short--left">
        <img src="/site/themes/missions/img/line-short.jpg" alt="">
    </div>
    <div class="textblock__narrow textblock__narrow--right">
      <h3 class="u-sea u-pre-title">We are the Thomas family</h3>
      <h1 class="intro-headline u-large u-dust">{{ intro_headline }}</h1>
      <p class="u-p-base u-dust">{{ intro_content }}</p>
    </div>

    <div class="missions-video">

        {{ if video | is_embeddable }}
             <!-- Youtube and Video -->
             <iframe class="u-shadow" src="{{ video | embed_url }}" ...></iframe>
        {{ else }}
             <!-- Other HTML5 video types -->
             <video src="{{ video | embed_url }}" ...></video>
        {{ /if }}

    </div>

</div>



<div class="block block__full stats">
   <h3>Percentage of World Population Reached With the Gospel</h3>
   {{ assets:stat_photo }}
      <img class="image__full" src="{{ url }}" alt="">
   {{ /assets:stat_photo }}
</div>

<div class="block block__wide photo-block photoblock--left">

    <div class="photo photo--right">
        {{ glide:generate src="{block_1_photo}" width="590" height="800" fit="crop" }}
            <img class="u-shadow" src="{{ url }}" width="{{ width }}" height="{{ height }}"/>
        {{ /glide:generate }}
    </div>
    <div class="content--right">
        <div class="line__long line__long--right">
            <img src="/site/themes/missions/img/long-line@1x.jpg" alt="">
        </div>
        <h2>{{ block_1_headline }}</h2>
        <p>{{ block_1_content }}</p>
    </div>

</div>

<div class="block block__wide photo-block photoblock--right">

    <div class="photo photo--left">
        {{ glide:generate src="{block_2_photo}" width="590" height="800" fit="crop" }}
            <img class="u-shadow" src="{{ url }}" width="{{ width }}" height="{{ height }}"/>
        {{ /glide:generate }}
    </div>
    <div class="content--left">
        <div class="line__long line__long--left">
            <img src="/site/themes/missions/img/long-line@1x.jpg" alt="">
        </div>
        <h2>{{ block_2_headline }}</h2>
        <p>{{ block_2_content }}</p>
    </div>

</div>

<div class="block block__wide photo-block photoblock--left">

    <div class="photo photo--right">
        {{ glide:generate src="{block_3_photo}" width="590" height="800" fit="crop" }}
            <img class="u-shadow" src="{{ url }}" width="{{ width }}" height="{{ height }}"/>
        {{ /glide:generate }}
    </div>
    <div class="content--right">
        <div class="line__long line__long--right">
            <img src="/site/themes/missions/img/long-line@1x.jpg" alt="">
        </div>
        <h2>{{ block_3_headline }}</h2>
        <p>{{ block_3_content }}</p>
    </div>

</div>
