<div class="post-wrapper">
    <div class="block block__narrow block__narrow--centered">
        <h1 class="post-title">{{ title }}</h1>
        <p class="post-data">By {{ relate:author }} {{ first_name }} {{ last_name }}{{ /relate:author }} on {{ date }}</p>
    </div><!-- end post data -->

    <div class="feature-image image__full--rough">
        <div class="texture--top">
            <img src="/assets/img/texture-top.png" alt="">
        </div>

        {{ glide:generate src="{feature_image}" width="1600" height="800" fit="crop_focal" }}
            <img src="{{ url }}" width="{{ width }}" height="{{ height }}" />
        {{ /glide:generate }}

        <div class="texture--bottom">
            <img src="/site/themes/missions/img/texture-bot.png" alt="">
        </div>
    </div><!-- end featured image -->


    <div class="block block__narrow block__narrow--centered">
        {{ post_content }}
            {{ if type == "text_block" }}
                <div class="post-text-block">
                    {{ text }}
                </div>
            {{ elseif type == "photo" }}
                <div class="post-photo">
                    {{ glide:generate src="{photo}" fit="crop-center"}}
                        <img src="{{ url }}" alt="">
                    {{ /glide:generate }}
                </div>
            {{ elseif type == "pullquote" }}
                <div class="post-pullquote">
                    <div class="line line__short line__short--left">
                        <img src="/assets/img/line-short.jpg" alt="">
                    </div>
                    <div class="pullquote">
                        <h3 class="quote">{{ quote }}</h3>
                        <h4 class="cite">{{ cite }}</h4>
                    </div>
                </div>
            {{ elseif type == "video"  }}
                <div class="video">

                    {{ if video | is_embeddable }}
                        <!-- Youtube and Video -->
                        <iframe src="{{ video | embed_url }}" ...></iframe>
                    {{ else }}
                        <!-- Other HTML5 video types -->
                        <video src="{{ video | embed_url }}" ...></video>
                    {{ /if }}

                </div>
            {{ /if }}
        {{ /post_content }}
    </div><!-- end post content -->

    <div class="block block__narrow block__narrow--centered post-nav">
        <!-- <div class="prev">
            {{ collection:next in="blog-posts" as="posts" limit="1" sort="date:asc" }}
                {{ if no_results }}
                    none
                {{ /if }}
                {{ posts }}
                    <div class="post">
                        <a href="{{ url }}">
                            <h5>Previous Post</h5>
                            <h4>{{ title }}</h4>
                        </a>
                    </div>
                {{ /posts }}
            {{ /collection:next }}
        </div> -->
        <div class="next">
            {{ collection:next in="blog-posts" as="posts" limit="1" sort="date:desc" }}
                {{ if no_results }}
                    No more posts to read!
                {{ /if }}
                {{ posts }}
                    <div class="post">
                        <a href="{{ url }}">
                            <h5>Next Post</h5>
                            <h4>{{ title }}</h4>
                        </a>
                    </div>
                {{ /posts }}
            {{ /collection:next }}
        </div>
            <a class="btn btn__text" href="/blog">Back To All Posts</a>
    </div>

</div><!-- end wrapper -->
