<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<!-- <style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style> -->
<div class="updates block block__narrow block__narrow--centered">
    <h1>Stay up to date with what God is doing</h1>
    <p>We want to keep in touch and let you know what God is doing in our lives and in the work we are doing.</p>

    {{ form:create in="newsletter" redirect="/support/thank-you" }}
    {{ if errors }}
     <div class="alert alert-danger">
          {{ errors }}
            <p>{{ value }}</p><br>
          {{ /errors }}
     </div>
 {{ /if }}
      <label for="name">Name</label>
      <input type="text" name="name">
      <label for="email">Email</label>
      <input type="email" name="email">
      <input type="text" name="honeypot" class="honeypot" />
      <button type="submit" class="btn btn__outline" name="button">Sign Up</button>
   {{ /form:create }}
    {{# <div id="mc_embed_signup">
    <form action="https://thethomasfam.us10.list-manage.com/subscribe/post?u=3cd02edbf0496aa72b446b781&amp;id=74857a19e1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">

    <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
    <div class="mc-field-group">
    	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
    </label>
    	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
    <div class="mc-field-group">
    	<label for="mce-MMERGE3">Name </label>
    	<input type="text" value="" name="MMERGE3" class="" id="mce-MMERGE3">
    </div>
    	<div id="mce-responses" class="clear">
    		<div class="response" id="mce-error-response" style="display:none"></div>
    		<div class="response" id="mce-success-response" style="display:none"></div>
    	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3cd02edbf0496aa72b446b781_74857a19e1" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
    </div> #}}

    <!--End mc_embed_signup-->
</div>
