<div class="block block__narrow block__narrow--centered">
    <div class="u-flex">
        <div class="textblock__wide textblock__wide--right">
            <h1 class="support-headline">{{ thank_you_headline }}</h1>
        </div>
    </div>
    <div class="callout">
        <div class="inner-callout">
            <p>Use Missionary ID</p>
            <h3 class="missionary_id">{{ missionary_id }}</h3>
            <p>on the ACTS Global Support page.</p>
        </div>
        <a class="btn btn__full btn__full--green" href="https://gallery.mailchimp.com/3cd02edbf0496aa72b446b781/files/f2adf4cc-0b1c-4498-baf7-5b159a3582c9/Donation_Form.01.pdf" target="_blank">Give via your bank account</a>
        <a class="btn btn__full btn__full--green" href="https://ywamkona.org/donate/missionary/?id=6649" target="_blank">Give via PayPal</a>
    </div>
</div>
