<div class="teaching block block__narrow block__narrow--centered">
    <h1>{{ title }}</h1>
    <p class="post-data">By {{ relate:speaker }} {{ first_name }} {{ last_name }}{{ /relate:speaker }} on {{ date }}</p>
    <audio class="audio-player" controls>
        <source src="{{ audio }}" type="audio/mp3">
    </audio>
</div>
