<div class="feed block block__narrow block__narrow--centered">
    <h1 class="page-title">{{ title }}</h1>
    {{ collection:teaching sort="date:desc"}}
        <a href="{{ url }}">
            <div class="entry">
                <h1 class="feed-post-title">{{ title }}</h1>
                <p class="post-data">By {{ relate:speaker }} {{ first_name }} {{ last_name }}{{ /relate:speaker }} on {{ date }}</p>
            </div>
        </a>
    {{ /collection:teaching }}
</div>
