<div class="block block__narrow block__narrow--centered u-flex">
    <div class="line line__short line__short--left">
        <img src="/site/themes/missions/img/line-short.jpg" alt="">
    </div>
    <div class="textblock__narrow textblock__narrow--right">
        <h1 class="support-headline u-dust">{{ title }}</h1>
        <p class="pad__top--xsmall u-p-base">In the mean time we encourage you to visit our Youtube channel to see previous updates along with other content we have shared with our support team. We hope it blesses you. God bless.</p>
        <a class="btn btn__outline btn__full--green" href="https://www.youtube.com/channel/UCMH9WTG5X3cJQhJJRHYKcRA" target="_blank">Visit Youtube Channel</a>
    </div>

</div>
